@charset "UTF-8";
/*
ESTO ARTICULA PARA PROPIEDADES COMO MARGIN-PADDING

            |TOP-RIGHT-BOTTOM-LEFT|
    margin: 10px 15px 20px 25px;

            |T-R-B-L|
    margin: 20px;

            |T-B / L-R|
    margin: 20px 10px;

            |T-L-R  - B|
    margin: 10px 10px 20px

    -----------------------------------

    margin-top:;
    margin-bottom:;
    margin-left:;
    margin-right:;
    */

/* RESET ESTILOS GENERALES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  display: inline-block;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

/* ESTILOS HEADER INDEX */

.navbar-nav {
  margin-right: 200px;
}

.logoDoll img {
  text-align: center;
  max-height: 230px;
  margin-left: 70px;
}

.loginCarrito {
  margin-left: 400px;
}

.nav-item-login {
  margin-right: 30px;
}

/***** NAVBAR *****/

.navbar .nav-link {
  color: #c08acc;
  font-weight: bold; 
  font-size: 25px;
  transition: color 0.3s ease;
}

.nav-item.dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: white;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 8px 16px;
}

.dropdown-menu li a {
  color: #AA73B6;
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #FAE3FF;
  color: #AA73B6;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block; 
}

/* ESTILOS MAIN INDEX */
#main {
  margin-top: 20px;
}

.banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.banner img {
  width: 25%;
  height: auto;
  max-width: 250px;
}

/* ESTILOS CATEGORÍAS MAIN INDEX Y PAGE PRODUCTOS */

.btn-category {
  max-width: 800px;
  background-color: #FAE3FF;
  color: #AA73B6;
  font-weight: bold;
  border-radius: 8px;
}

.btn-category:hover {
  background-color: #f8d6fe;
  color: #AA73B6;
}

.btn-category-arrow {
  background-color: #AA73B6; 
  color: #FAE3FF; 
  border: none;
  font-size:25px;
  border-radius: 5px;
}

.btn-category-arrow:hover {
  background-color: #FAE3FF;
  color: #AA73B6;
  border: 2px solid #AA73B6;
}

/* ESTILOS PRODUCTOS INDEX Y PAGE PRODUCTOS */
.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1200px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.productos__card {
  width: 30%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(236, 76, 183, 0.1);
  transition: transform 0.3s ease;
}

.productos__card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.productos__card h2 {
  color: #AA73B6;
  font-size: large;
  text-align: left;
  margin-top: 10px;
}

.titProductos {
  color: #AA73B6;
  background-color: #FAE3FF;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  margin-left: 70px;
  border-radius: 10px;
}

.productos__card:hover {
  transform: scale(1.05);
}

.maquillaje--btn {
  display: block; 
  width: 100%; 
  text-align: center;
  background-color: #FAE3FF;
  color: #AA73B6; 
  border: none; 
  padding: 10px 0;
  font-size: 14px; 
  border-radius: 8px;
  font-weight: bold;
}

.maquillaje--btn:hover {
  background-color: #f8d6fe;
}

/* ESTILOS BTN VER TODOS LOS PRODUCTOS */

.productos--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.productos--btn a {
  display: inline-block;
  color: #AA73B6;
  background-color: #FAE3FF;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.productos--btn a:hover {
  background-color: #f8d6fe;
  transform: scale(1.05);
}

/* ESTILOS MAIN PAGE CONTACTO */
body {
  margin: 0;
  padding: 0;
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.contacto .card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 1000px;
  width: 100%;
  text-align: center;
}

.contacto .card h1 {
  color: #AA73B6;
  background-color: #FAE3FF;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
}

.contacto .card .info {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.contacto .card .info li {
  display: flex;
  color: #AA73B6;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.contacto .card .info li i {
  color: #AA73B6;
  margin-right: 25px;
  font-weight: bold;
}

.contacto .card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacto .card form label {
  font-size: 25px;
  font-weight: bold;
  color: #AA73B6;
  text-align: left;
}

.contacto .card form input,
.contacto .card form textarea {
  width: 100%;
  max-width: 800px;
  color: #AA73B6;
  background-color: #FAE3FF;
  border: #AA73B6;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
}

.contacto .card form textarea {
  height: 100px;
}

.contacto .card form input:focus,
.contacto .card form textarea:focus {
  outline: none;
  border: 2px solid #AA73B6;
  background-color: #FAE3FF; 
}

.contacto .card form input::placeholder,
.contacto .card form textarea::placeholder {
  color: #c08acc;
  font-size: 20px;
  font-weight: bold;
}

.contacto .card form button {
  background-color: #FAE3FF;
  color: #AA73B6;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
}

.contacto .card form button:hover {
  background-color: #f8d6fe;
}

/* ESTILOS MAIN PAGE ENVIOS*/

.envios {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

/* CARD */

.envios .card {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 100%;
}

.envios h1 {
  color: #AA73B6;
  background-color: #FAE3FF;
  font-size: 60px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  max-width: fit-content;
  border-radius: 5px;
}

.envios p {
  color: #d1a2dc;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

.envios h2 {
  color: #AA73B6;
  background-color: #FAE3FF;
  font-weight: bold;
  padding: 15px;
  max-width: fit-content;
  border-radius: 5px;
}

.envios ul {
  padding-left: 20px;
}

.envios ul li {
  color: #d1a2dc;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.telefonoContacto, .emailContacto {
  margin-top: 10px;
  font-size: 16px;
}

/* ESTILOS PAGE FAQ */

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.faq .card {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(6, 6, 6, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 100%;
}

.faq .card h1 {
  color: #AA73B6;
  background-color: #FAE3FF;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 5px;
}

.faq .card h2 {
  color: #AA73B6;
  background-color: #FAE3FF;
  font-size: 32px;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
}

.faq .card ul {
  color: #AA73B6;
  text-align: center;
}

.faq .card ul li {
  color: #d1a2dc;
  font-size: 18px;
  font-weight: bold;
}

.faq .card p {
  color: #d1a2dc;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.faq .card .nota {
  color: #AA73B6;
}

/*ESTILOS FOOTER*/

#footer {
  margin-top: 200px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #FAE3FF;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  color: #AA73B6;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.card-body ul li {
  width: 100%;
  text-align: center;
}

.card-body ul li a {
  color: #c08acc;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.card-body ul li a:hover {
  color: #DDB7E5;
  text-decoration: none;
}

.card-redes i {
  color: #DDB7E5;
  margin-right: 5px;
  font-size: 16px;
}

.card-contacto p {
  font-size: 20px;
  font-weight: bold;
}

ul li {
  font-size: 16px;
}

.card-contacto i {
  color: #DDB7E5;
  margin-bottom: 10px;
  margin-right: 5px;
}

.card-contacto a {
  color: #AA73B6;
}



/* RESPONSIVE MAIN INICIO */
@media (max-width: 767px) {
  .productos__card {
    width: 45%;
  }
}

@media (max-width: 479px) {
  .productos__card {
    width: 48%;
  }
}

/* TIT PRODUCTOS INICIO */

@media (max-width: 767px) {
  .titProductos {
    text-align: left;
    font-size: 16px;
    padding: 15px;
    margin-left: 5px;
  }
}

/* RESPONSIVE CONTACTO */

@media (max-width: 768px) {
  .contacto .card h1 {
    font-size: 40px;
  }

  .contacto .card form label {
    font-size: 18px;
  }

  .contacto .card form input,
  .contacto .card form textarea {
    font-size: 18px;
    padding: 8px;
  }

  .contacto .card form button {
    font-size: 20px;
    padding: 8px;
  }

  .contacto .card .info li {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  .contacto .card {
    padding: 20px;
  }

  .contacto .card h1 {
    font-size: 30px;
    padding: 8px;
  }

  .contacto .card form label {
    font-size: 16px;
  }

  .contacto .card form input,
  .contacto .card form textarea {
    font-size: 16px;
    padding: 6px;
  }

  .contacto .card form button {
    font-size: 18px;
    padding: 6px;
  }

  .contacto .card .info li {
    font-size: 16px;
  }
}

/* RESPONSIVE ENVIOS*/

@media (max-width: 767px) {
  .envios h1 {
    font-size: 20px;
  }
  .envios p,
  .envios ul li {
    font-size: 14px;
  }
  .envios h2 {
    font-size: 16px;
    padding: 4px;
  }
  .telefonoContacto, .emailContacto {
    font-size: 12px;
  }
}

/* RESPONSIVE FAQ */
@media (max-width: 767px) {
  .faq .card {
    padding: 15px;
  }
  .faq .card h1 {
    font-size: 20px;
  }
  .faq .card h2 {
    font-size: 18px;
  }
  .faq .card ul li,
  .faq .card p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
