/* ESTILOS MAIN PAGE ENVIOS*/

.envios {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

/* CARD */

.envios .card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px; 
    width: 100%;
}

.envios h1 {
    color: #AA73B6;
    background-color: #FAE3FF;
    font-size: 60px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    max-width: fit-content;
    border-radius: 5px;
}

.envios p {
    color: #d1a2dc;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.envios h2 {
    color: #AA73B6;
    background-color: #FAE3FF;
    font-weight: bold;
    padding: 15px;
    max-width: fit-content;
    border-radius: 5px;
}

.envios ul {
    padding-left: 20px;
}

.envios ul li {
    color: #d1a2dc;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.telefonoContacto, .emailContacto {
    color: #AA73B6;
    margin-top: 10px;
    font-size: 16px;
}
