@use "reset";
@use 'index-page-productos';
@use "page-contacto";
@use "page-envios";
@use "page-faq";
@use "footer";

/* ESTILOS HEADER */

.navbar-nav {
    margin-right: 200px;
}

.logoDoll img {
    text-align: center;
    max-height: 230px;
    margin-left: 70px;
}

.loginCarrito {
    margin-left: 400px;
}

.nav-item-login {
    margin-right: 30px;
}

/* RESPONSIVE MAIN INICIO */

@media (max-width: 768px) {
    .banner {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .banner img {
        width: 50%;
    }
}

/* BTN CATEGORIAS RESPONSIVE */

@media (max-width: 768px) {
    .btn-category {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .btn-category-arrow {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .titProductos {
        text-align: left; 
        margin-left: 5px; 
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .productos__card {
        width: 45%;
    }
}

@media (max-width: 479px) {
    .productos__card {
        width: 48%;
    }
}

@media (max-width: 479px) {
    .maquillaje--btn {
        font-size: 16px;
    }
}

/* RESPONSIVE CONTACTO */

@media (min-width: 768px) {
    .contact-section {
        flex-direction: row;
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .info-container {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .contact-form {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .contactoMapa iframe {
        width: 70%;
        height: 350px;
    }
}

@media (max-width: 768px) {
    .titPageContacto {
        font-size: 40px; 
    }
}

/* RESPONSIVE ENVIOS*/

@media (max-width: 480px) {
    .envios h1 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .envios p,
    .envios ul li {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .envios h2 {
        font-size: 16px;
        padding: 4px;
    }
}

@media (max-width: 480px) {
    .telefonoContacto, .emailContacto {
        font-size: 12px;
    }
}

/* RESPONSIVE FAQ */

@media (max-width: 768px) {
    .faq .card {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .faq .card h1 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .faq .card h2 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .faq .card ul li,
    .faq .card p {
        font-size: 14px;
    }
}

