@use "presets/reset";
@use "presets/header";
@use "presets/footer";

/* PAGES */

@use "pages-sass/index-page-productos";
@use "pages-sass/page-contacto";
@use "pages-sass/page-envios";
@use "pages-sass/page-faq";





/*
ESTO ARTICULA PARA PROPIEDADES COMO MARGIN-PADDING

            |TOP-RIGHT-BOTTOM-LEFT|
    margin: 10px 15px 20px 25px;

            |T-R-B-L|
    margin: 20px;

            |T-B / L-R|
    margin: 20px 10px;

            |T-L-R  - B|
    margin: 10px 10px 20px

    -----------------------------------

    margin-top:;
    margin-bottom:;
    margin-left:;
    margin-right:;
    */

/* RESET ESTILOS GENERALES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    display: inline-block;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin button-style {
    background-color: #FAE3FF;
    color: #AA73B6;
    font-weight: bold;
    border-radius: 5px;
    font-size: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

@mixin button-hover {
    background-color: #f8d6fe;
    color: #AA73B6;
}

@mixin card-style {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* NAVBAR */
.navbar .nav-link {
    color: #c08acc;
    font-weight: bold;
    font-size: 25px;
    transition: color 0.3s ease;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    background-color: white;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 8px 16px;
}

.dropdown-menu li a {
    color: #AA73B6;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #FAE3FF;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* ESTILOS DE CATEGORIAS */
.categorias {
    @include flex-space-between;
    align-items: center;
    background-color: #FAE3FF;
    margin: 30px auto;
    border-radius: 200px;
    padding-top: 10px;
    max-width: 700px;
    max-height: 40px;
}

.categorias p, .categorias ul li {
    color: #AA73B6;
    font-size: 30px;
    font-weight: bold;
}

/* BTN CATEGORIAS */
.btn-category {
    @include button-style;
}

.btn-category:hover {
    @include button-hover;
}

.btn-category-arrow {
    background-color: #AA73B6;
    color: #FAE3FF;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px 15px;
}

.btn-category-arrow:hover {
    @include button-hover;
}

/* PRODUCTOS */
.productos {
    @include flex-space-between;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1200px;
    margin: 40px auto 0;
}

.titProductos {
    color: #AA73B6;
    background-color: #FAE3FF;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 70px;
    border-radius: 10px;
}

.productos__card {
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(236, 76, 183, 0.1);
    transition: transform 0.3s ease;
}

.productos__card:hover {
    transform: scale(1.05);
}

/* BOTON MAQUILLAJE */

.maquillaje--btn {
    height: 50px;
    @include button-style;
    text-align: center;
    display: inline-block;
    margin: 15px 0 10px;
    border: none;
}

.maquillaje--btn:hover {
    @include button-hover;
}

/* BTN VER TODOS LOS PRODUCTOS */

.productos--btn {
    @include flex-center;
    width: 100%;
    margin-top: 20px;
}

.productos--btn a {
    @include button-style;
    text-decoration: none;
    padding: 15px 25px;
}

.productos--btn a:hover {
    @include button-hover;
    transform: scale(1.05);
}

/* CONTACTO */

.contacto {
    @include flex-center;
    min-height: 100vh;
    padding: 20px;
}

.contacto .card {
    @include card-style;
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

.contacto .card form button {
    @include button-style;
    border: none;
    padding: 10px;
}

.contacto .card form button:hover {
    @include button-hover;
}

/* ESTILOS FAQ */
.faq {
    @include flex-center;
    min-height: 100vh;
    padding: 20px;
}

.faq .card {
    @include card-style;
    max-width: 800px;
    width: 100%;
}

/* FOOTER */
#footer {
    margin: 200px 30px 50px;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #FAE3FF;
    padding: 10px;
    @include flex-center;
    flex-direction: column;
}

.card-title {
    color: #AA73B6;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.card-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @include flex-center;
    flex-direction: column;
    gap: 5px;
}

.card-body ul li a:hover {
    color: #DDB7E5;
}

/* RESPONSIVE MAIN INICIO */

@media (max-width: 768px) {
    .banner {
    width: 60%;
    }
}
@media (max-width: 768px) {
    .banner img {
    width: 50%;
    }
}

/* BTN CATEGORIAS RESPONSIVE */

@media (max-width: 768px) {
    .btn-category {
    font-size: 16px;
    }
}
@media (max-width: 768px) {
    .btn-category-arrow {
    font-size: 16px;
    }
}
@media (max-width: 768px) {
    .titProductos {
    text-align: left;
    margin-left: 5px;
    font-size: 22px;
    }
}
@media (max-width: 767px) {
    .productos__card {
    width: 45%;
    }
}
@media (max-width: 479px) {
    .productos__card {
    width: 48%;
    }
}
@media (max-width: 479px) {
    .maquillaje--btn {
    font-size: 16px;
    }
}

/* RESPONSIVE CONTACTO */

@media (min-width: 768px) {
    .contact-section {
    flex-direction: row;
    gap: 50px;
    }
}

@media (max-width: 768px) {
    .contacto .card h1{
    font-size: 25px;
    }
}

@media (max-width: 768px) {
    .contacto .card .info li {
    font-size: 20px;
    }
}

@media (max-width: 768px) {
    .info-container {
    width: 45%;
    }
}
@media (max-width: 768px) {
    .contact-form {
    width: 45%;
    }
}
@media (max-width: 768px) {
    .contactoMapa iframe {
    width: 70%;
    height: 350px;
    }
}


/* RESPONSIVE ENVIOS*/

@media (max-width: 480px) {
    .envios h1 {
    font-size: 22px;
    }
}
@media (max-width: 480px) {
    .envios p,
    .envios ul li {
    font-size: 18px;
    }
}
@media (max-width: 480px) {
    .envios h2 {
    font-size: 18px;
    padding: 4px;
    }
}
@media (max-width: 480px) {
    .telefonoContacto, .emailContacto {
    font-size: 18px;
    }
}

/* RESPONSIVE FAQ */

@media (max-width: 768px) {
    .faq .card {
    padding: 15px;
    }
}
@media (max-width: 768px) {
    .faq .card h1 {
    font-size: 22px;
    }
}
@media (max-width: 768px) {
    .faq .card h2 {
    font-size: 18px;
    }
}
@media (max-width: 768px) {
    .faq .card ul li,
    .faq .card p {
    font-size: 18px;
    }
}

