/*ESTILOS FOOTER*/

#footer {
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;

    .card {
    border: none;
    border-radius: 10px;
    background-color: #FAE3FF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .card-title {
    color: #AA73B6;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    }

    .card-body {
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    ul li {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    ul li a {
        color: #AA73B6;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
    }

    ul li a:hover {
        color: #DDB7E5;
        text-decoration: none;
    }
    }

    .card-redes i {
        color: #AA73B6;
        margin-right: 5px;
        font-size: 16px;
    }
    
    .card-contacto {
    p {
        font-size: 20px;
        font-weight: bold;
    }

    i {
        color: #AA73B6;
        margin-bottom: 10px;
        margin-right: 5px;
    }

    a {
        color: #AA73B6;
    }
    }

}
