.navbar-nav {
    margin-right: 200px;
}

.logoDoll img {
    text-align: center;
    max-height: 230px;
    margin-left: 70px;
}

.loginCarrito {
    margin-left: 400px;
}

.nav-item-login {
    margin-right: 30px;
}

.navbar .nav-link {
    color: #c08acc;
    font-weight: bold; 
    font-size: 25px;
    transition: color 0.3s ease;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    background-color: white;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 8px 16px;
}

.dropdown-menu li a {
    color: #AA73B6;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #FAE3FF;
    color: #AA73B6;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block; 
}